  <h1 class="text-center text-info">Nous contacter</h1>
  <br>
  <br>
  <br>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Adresse e-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Nous contacter</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h3 class="fs-3">The Gossip Project</h3>
  <p class="fw-normal">1989 branche des étoiles,<br>
    12ème arbre de la forêt,<br>
    38520 Pathiboulin<br>
    <span class="fas fa-phone"></span> 09 87 78 65 44<br>
    <span class="fas fa-envelope-open"></span> the-gossip-project@protonmail.com
  </p>