  
<div class="container marketing">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <h1 class="text-center text-info"> Notre équipe</h1>
<h2 class="text-center">Constitué de deux moussaillons armés de patience et de :as (:lol: AKA privatejoke)</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default text-left">
        <div class="panel-body">
<p>Le premier Moussaillon est Matthias :<br>
   * Son prénom contient un H<br>
  * Le premier gossip est lié à lui. L'histoire raconte qu'il a mangé le chat d'Iris... Et étonnamment ils s'entendent bien malgré ça !</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-left">
        <div class="panel-body">
<p>Le second Moussaillon est Iris :<br>
   * Elle raconte des gossips faux<br>
  * Et étonnament tout le monde s'en doute </p>
        </div>
      </div>
    </div>
  </div>
</div>

